@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap%27");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Jost", sans-serif;
  --primary-bg: #171a1d;
  --secondary-bg: #f5f5f5;
  --text-color: #f5f5f5;
  --accent-color: #2192ff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body.body {
  background: var(--primary-bg);
}

/* COMMON */
.img-fluid {
  object-fit: cover;
  object-position: center;
}

.fa_icon {
  color: var(--text-color);
  font-size: 2rem;
}

.header {
  font-weight: bold;
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
  text-transform: uppercase;
}

section {
  padding: 2rem 0;
}

/* NAVBAR */
.navbar_fluid {
  background: var(--primary-bg);
  padding: 2rem 0;
  transition: all 0.3s;
}

.navbar ul {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 50%);
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(5px);
  padding-top: 80px;
  line-height: 50px;
  transition: all 0.3s;
  transform: translateX(100%);
}

.navbar ul.active {
  transform: translateX(0);
}

.navbar .hamburger_menu {
  z-index: 1;
}

.navbar .hamburger_menu .fa_icon {
  cursor: pointer;
}

.navbar ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar ul li {
  list-style-type: none;
  margin-right: 1rem;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li .link_item {
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
}

.navbar .logo .img-fluid {
  transition: all 0.3s;
}

.navbar_fluid.sticky {
  padding: 1rem 0;
}

.navbar_fluid.sticky .logo .img-fluid {
  max-width: 80px;
}

/* HOME */
.home_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.home_section .row {
  align-items: center;
}

.home_section .header {
  font-size: clamp(1rem, 0.7143rem + 4.7619vw, 5rem);
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-color);
}

.home_section .header span {
  color: var(--text-color);
}

.home_section .btn_container {
  margin-top: 1rem;
}

.home_section .btn_container button {
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  color: var(--text-color);
  background: var(--accent-color);
}

.home_section .img_container {
  position: relative;
}

.home_section .img_container .img-fluid {
  position: relative;
  z-index: 1;
}

.home_section .img_container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  height: 100%;
  min-height: 300px;
  background: #2192ff;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  z-index: 1;
}

/* ABOUT */
.about_section {
  background: var(--secondary-bg);
  color: var(--primary-bg);
}

.about_section .row {
  flex-direction: column-reverse;
}

.about_section .header {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.about_section .logo_name {
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
  font-weight: bold;
}

.about_section .logo_name span {
  color: var(--accent-color);
}

.about_section .img_container {
  position: relative;
}

.about_section .img_container .img-fluid {
  position: relative;
  z-index: 1;
}

.about_section .img_container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  height: 100%;
  min-height: 300px;
  background: var(--primary-bg);
  clip-path: polygon(100% 100%, 0% 100%, 0 0);
  z-index: 1;
}

/* SERVICES */
.services_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.services_section .img_container {
  position: relative;
  overflow: hidden;
}

.services_section .img_container .img-fluid {
  width: 100%;
  position: relative;
}

.services_section .img_container .overlay {
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  transition: all 0.3s;
  transform: translateY(100%);
}

.services_section .img_container:hover .overlay {
  transform: translateY(0);
}

.services_section .img_container .overlay .title {
  font-weight: bold;
  text-transform: uppercase;
}

.services_section .img_container .overlay .text {
  text-align: center;
}

/* PLAN */
.plan_section {
  background: var(--secondary-bg);
  color: var(--primary-bg);
}

.plan_section .wrapper {
  padding: 30px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  min-height: 320px;
  position: relative;
  transition: all 0.3s;
}

.plan_section .col-md-4:nth-child(3) .wrapper {
  border: 1px solid var(--accent-color);
  margin-top: 1rem;
}

.plan_section .col-md-4:nth-child(4) .wrapper {
  margin-top: 1rem;
}

.plan_section .col-md-4:nth-child(3) .wrapper .popular {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--accent-color);
  border-radius: 50px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 5px;
}

.plan_section .wrapper:hover {
  transform: translateY(-5px);
}

.plan_section .wrapper .title {
  font-weight: bold;
  text-transform: capitalize;
}

.plan_section .wrapper .btn_purchase {
  position: absolute;
  bottom: 1rem;
}

.plan_section .wrapper button {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--accent-color);
  color: var(--text-color);
  padding: 10px;
}

/* CONTACT */
.contact_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.contact_section .left_col .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact_section .left_col .info .link {
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.contact_section .left_col .info .link .fa_icon {
  margin-right: 0.5rem;
}

.contact_section form {
  position: relative;
}

.contact_section form .form-control {
  border-radius: 0;
}

.contact_section form .form-control:focus {
  box-shadow: none;
}

.contact_section form .btn_submit {
  position: absolute;
  right: 0;
}

.contact_section form button {
  border: none;
  padding: 10px;
  text-transform: capitalize;
  background: var(--accent-color);
  color: var(--text-color);
  font-weight: bold;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
  section {
    padding: 100px 0;
  }

  .navbar ul {
    position: unset;
    top: unset;
    right: unset;
    width: unset;
    max-width: unset;
    height: unset;
    background: unset;
    padding-top: unset;
    line-height: unset;
    display: flex;
    flex-direction: row;
    transform: translateX(0);
  }

  .navbar .hamburger_menu {
    display: none;
  }

  .about_section .row {
    flex-direction: row;
  }

  .plan_section .col-md-4:nth-child(3) .wrapper,
  .plan_section .col-md-4:nth-child(4) .wrapper {
    margin-top: 0;
  }
}
